@use "colours" as *
@use "fonts" as *

.button-container
    display: flex
    position: absolute
    background: none
    gap: 1rem
    top: -150px
    button
        position: relative
        overflow: hidden
        border: 0
        background: none
        transition: 0.5s
        &:hover
            transform:  translate(0,100px)
    button#add-book
        z-index: 2
        svg
            fill: $samwise
    button#remove-book
        z-index: 2
        svg
            fill: red
    

.add-book-modal
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: -200px
    right: 0
    display: flex
    width: 300px
    height:300px
    background: $smeagol
    transition: 0.5s
    z-index: 3
    border: 4px solid black
    border-radius: 5px
    background: #e9d8a6

button#add-book.active
    z-index: 3
    transform: translate(0,380px)
.add-book-modal.active
    transform: translate(0,320px)

.remove-book-modal
    position: absolute
    display: flex
    flex-direction: column
    gap: 10px
    padding-top: 50px
    justify-content: flex-start
    align-items: flex-start
    top: -200px
    right: 0
    width: 300px
    height:300px
    background: $smeagol
    transition: 0.5s
    z-index: 3
    border: 4px solid black
    border-radius: 5px
    background: #e9d8a6
    overflow-y: scroll
    font-family: "Cherry Swash", "Poppins", "Helvetica Neue"
    .book-entry
        display: flex
        padding: 0px 10px 0px 10px
        width: 100%
        justify-content: space-between
        border-bottom: 1px solid black
        p#removeButton
            color: red
            &:hover
                cursor: pointer
            &:active
                cursor: pointer
button#remove-book.active
    z-index: 3
    transform: translate(0,380px)
.remove-book-modal.active
    transform: translate(0,320px)

