@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500&display=swap");
.header {
  z-index: 5;
  display: flex;
  background: #d2b732;
  min-height: 75px;
  max-height: 10%;
  border-bottom: 5px solid black;
  width: 100%;
  max-height: 8rem;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0px 20px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Cherry Swash", "Poppins", cursive;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.logo-container svg {
  align-self: center;
  min-height: 75px;
  height: 50%;
}

.left-info {
  margin: 1rem 0 0 1rem;
}

.right-info {
  display: flex;
  align-items: end;
  margin: 0 1rem 1rem 0;
  gap: 0.5rem;
}
.right-info a {
  overflow: hidden;
  flex-flow: column wrap;
  text-decoration: none;
  color: rgb(73, 36, 16);
  transform: translate(0, 0.3rem);
}
.right-info:hover {
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
}

@media only screen and (max-width: 800px) {
  .left-info, .right-info a#username {
    display: none;
  }

  #logo {
    margin-left: 1rem;
  }
}
.button-container {
  display: flex;
  position: absolute;
  background: none;
  gap: 1rem;
  top: -150px;
}
.button-container button {
  position: relative;
  overflow: hidden;
  border: 0;
  background: none;
  transition: 0.5s;
}
.button-container button:hover {
  transform: translate(0, 100px);
}
.button-container button#add-book {
  z-index: 3;
}
.button-container button#add-book svg {
  fill: #4dc751;
}
.button-container button#remove-book {
  z-index: 3;
}
.button-container button#remove-book svg {
  fill: red;
}

.add-book-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -200px;
  right: 0;
  display: flex;
  width: 300px;
  height: 300px;
  background: #c8cece;
  transition: 0.5s;
  z-index: 4;
  border: 4px solid black;
  border-radius: 5px;
  background: #e9d8a6;
}

button#add-book.active {
  transform: translate(0, 380px);
}

.add-book-modal.active {
  transform: translate(0, 320px);
}

.remove-book-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  top: -200px;
  right: 0;
  width: 300px;
  height: 300px;
  background: #c8cece;
  transition: 0.5s;
  z-index: 4;
  border: 4px solid black;
  border-radius: 5px;
  background: #e9d8a6;
  overflow-y: scroll;
  font-family: "Cherry Swash", "Poppins", "Helvetica Neue";
}
.remove-book-modal .book-entry {
  display: flex;
  padding: 0px 10px 0px 10px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.remove-book-modal .book-entry p#removeButton {
  color: red;
}
.remove-book-modal .book-entry p#removeButton:hover {
  cursor: pointer;
}
.remove-book-modal .book-entry p#removeButton:active {
  cursor: pointer;
}

button#remove-book.active {
  transform: translate(0, 380px);
}

.remove-book-modal.active {
  transform: translate(0, 320px);
}

.add-book-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cherry Swash";
  gap: 0.5rem;
}
.add-book-form button {
  border: 2px solid black;
  background: #d2b732;
  border-radius: 5px;
  padding: 5px;
}
.add-book-form button:hover {
  transform: scale(1.2);
}
.add-book-form button:active {
  transform: scale(0.8);
}

main {
  position: relative;
  background: #1d6615;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.shelf-container {
  background: rgb(73, 36, 16);
  margin: 0 auto;
  outline: 10px solid hsl(12deg, 76%, 61%);
  border-radius: 3px;
  margin-top: 100px;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
}

.shelf {
  display: flex;
  align-items: flex-end;
  gap: 0px;
  outline: 10px solid hsl(12deg, 76%, 61%);
  max-width: 100%;
  box-shadow: inset 40px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 10px;
}

.book {
  background: hsl(173deg, 58%, 39%);
  position: relative;
  height: 300px;
  min-width: 50px;
  width: 100px;
  max-width: 200px;
  margin-top: 2rem;
  gap: 0px;
  border-radius: 5px;
  font-family: "Cherry Swash", "Poppins";
}
.book:hover {
  z-index: 2;
}

.book-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 3px solid black;
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-origin: 100%;
  font-family: inherit;
  pointer-events: none;
  box-shadow: inset -15px 0px 50px rgba(0, 0, 0, 0.5), inset 15px 0px 50px rgba(255, 255, 255, 0.5);
}
.book-side #title {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  justify-self: center;
  overflow: ellipsis;
  color: white;
  writing-mode: sideways-lr;
}

.book:hover > .book-side {
  transform: scale(1.2) translateX(-175px) rotateY(80deg);
  box-shadow: inset 40px 0px 50px rgba(255, 255, 255, 0.1), inset -10px 0px 50px rgba(255, 255, 255, 0.1);
}

.book-cover {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: inherit;
  border: 3px solid black;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  height: 100%;
  transition: 0.5s;
  transform: rotateY(90deg);
  box-shadow: inset -100px 0px 100px rgb(0, 0, 0);
  font-family: inherit;
  color: white;
  z-index: 2;
  transform-origin: 0%;
}
.book-cover #title {
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}
.book-cover #author {
  font-size: 20px;
  align-self: top;
  pointer-events: none;
  user-select: none;
}

.book:hover > .book-cover {
  transform: scale(1.2) rotateY(0deg) translateX(-175px);
  box-shadow: inset -15px 0px 50px rgba(0, 0, 0, 0.5), inset 15px 0px 50px rgba(255, 255, 255, 0.3);
  z-index: 2;
}

#overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 200vh;
  display: none;
  z-index: 3;
}

#overlay.active {
  display: flex;
}

.bookmark {
  opacity: 0.4;
  position: absolute;
  display: none;
  top: -30px;
  right: -30px;
  transform: rotateY(180deg);
  z-index: 5;
  pointer-events: none;
}

.bookmark.active {
  display: block;
  opacity: 1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */